root {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #3431d6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: rgba(255, 255, 255, 0.87);
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    background-color: #a51d1d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#game-container {
    background-color: #c7eb59;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

#ui-menu {
    margin: 0;
    height: 20vh;
    width: 20vw;
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 3;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%)
}


.spritePosition {
    font-size: 0.8em;
    background-color: #28421a;
    width: 100%;
    margin: 0;
    font-size: 1em; 
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    font-family: Arial Black;

}

.button {
    width: 100%; 
    margin: 0;
    background-color: #28421a;
    padding: 10px;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.1s;
    font-size: 1em; 
    text-align: center;
    font-family: Arial Black;


    &:hover {
        border: 3px solid #7dc0c3;
        color: #0ec3c9;
    }

    &:active {
        background-color: #0ec3c9;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
}