root {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #3431d6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: rgba(255, 255, 255, 0.87);
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    background-color: black;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    border-top: 1vh solid rgb(0, 0, 0);
    border-bottom: 1vh solid rgb(0, 0, 0);
    border-left: 0.75vh solid rgb(0, 0, 0);
    border-right: 1vh solid rgb(0, 0, 0);
    width: 100%;
    background-color: #0e33c92a;
    font-size: 1vw; /* Responsive font size based on viewport width */
}

.center-content .welcome-text {
    color: rgb(255, 255, 255);
    font-size: 5vw; /* Larger text for the welcome message */
    margin: 0;
    font-family: "Arial Black", sans-serif;
}

.center-content .info-text {
    color: rgb(255, 255, 255);
    font-size: 2vw; /* Responsive font size for the information text */
}

.auth-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#leftColumn {
    height: 100vh;
    width: 15vw;
    position: relative;
    border-top: 1vw solid black;
    border-bottom: 1vw solid black;
    border-left: 1vw solid black;
    box-sizing: border-box;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    background-color: white;
    z-index: 3;
    display: flex;
}

#leftShoulderButton {
    width: 100%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.818);
    clip-path: polygon(20% 0%, 90% 0%, 70% 100%, 11% 100%);
    border-top-left-radius: 10%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fowardItalics {
    display: inline-block;
    transform: skewX(-35deg) translateY(-10%);
    color: white;
    font-family: Arial Black;
    font-size: 2.5vh;
    &:hover {
        font-size: 2.65vh;
        color: #5eacd5;
    }
}

#outerCircleLeft {
    background-color: rgba(0, 0, 0, 0.696);
    border-radius: 50%;
    position: absolute;
    height: 7vw;
    width: 7vw;
    z-index: 5;
    top: 35vh;
    left: 3.5vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

#innerCircleLeft {
    background-color: rgb(53, 49, 49);
    border-radius: 50%;
    border: 0.1vw solid white;
    height: 5.5vw;
    width: 5.5vw;
    &:hover {
        border: 0.2vw solid #5eacd5;
    }
}

#outerKeyPad {
    height: 7vw;
    width: 7vw;
    background-color: rgba(0, 0, 0, 0.696);
    position: absolute;
    clip-path: polygon(
        0% 30%,
        30% 30%,
        30% 0%,
        70% 0%,
        70% 30%,
        100% 30%,
        100% 70%,
        70% 70%,
        70% 100%,
        30% 100%,
        30% 70%,
        0% 70%
    );
    z-index: 5;
    top: 15vh;
    left: 3.6vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

#innerKeyPad {
    height: 6vw;
    width: 6vw;
    background-color: rgb(53, 49, 49);
    border: 0.1vw solid white;
    clip-path: polygon(
        0% 35%,
        35% 35%,
        35% 0%,
        65% 0%,
        65% 35%,
        100% 35%,
        100% 65%,
        65% 65%,
        65% 100%,
        35% 100%,
        35% 65%,
        0% 65%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial Black;
    font-size: 1.75vh;
    &:hover {
        border: 0.2vw solid #5eacd5;
    }
}

#leftStickText {
    position: absolute;
    z-index: 5;
    top: 48.1vh;
    left: 4.5vw;
    margin: 0;
    color: rgb(7, 7, 7);
    font-family: Arial Black;
    font-size: 2vh;
}

#rightStickText {
    position: absolute;
    z-index: 5;
    top: 28vh;
    right: 4vw;
    margin: 0;
    color: rgb(7, 7, 7);
    font-family: Arial Black;
    font-size: 2vh;
}

#keyPadText {
    position: absolute;
    z-index: 5;
    top: 28vh;
    left: 3.75vw;
    margin: 0;
    color: rgb(7, 7, 7);
    font-family: Arial Black;
    font-size: 2vh;
}

#sound {
    position: absolute;
    z-index: 5;
    background-color: rgb(53, 49, 49);
    border: 0.3vh solid rgba(0, 0, 0, 0.696);
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    height: 3.5vh;
    width: 5vw;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial Black;
    font-size: 1.5vh;
    bottom: 15vh;
    left: 4.5vw;
    &:hover {
        font-size: 1.6vh;
        color: #5eacd5;
    }
}

#pause {
    position: absolute;
    z-index: 5;
    background-color: rgb(53, 49, 49);
    border: 0.3vh solid rgba(0, 0, 0, 0.696);
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    height: 3.5vh;
    width: 5vw;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial Black;
    font-size: 1.5vh;
    bottom: 10vh;
    left: 4.5vw;
    &:hover {
        font-size: 1.6vh;
        color: #5eacd5;
    }
}

#accountLeft {
    position: absolute;
    z-index: 5;
    background-color: rgb(53, 49, 49);
    border: 0.3vh solid rgba(0, 0, 0, 0.696);
    text-align: center;
    font-size: 1.5em;
    height: 3.5vh;
    width: 7vw;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial Black;
    font-size: 1.5vh;
    bottom: 15vh;
    left: 3.5vw;
}

/* .gridTextLeft {
    display: inline-block;
    margin: 0;
    color: rgb(7, 7, 7);
    font-family: Arial Black;
    font-size: 2vh;
    transform: translateY(-.5vh)
} */

#center {
    height: 96.5vh;
    background-color: white;
    border-top: 1vw solid rgb(255, 255, 255);
    border-bottom: 1vw solid rgb(255, 255, 255);
    z-index: 3;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#centerCenter {
    background-color: black;
    height: 100%;
    box-sizing: border-box;
    border-top: 1vh solid rgb(0, 0, 0);
    border-bottom: 1vh solid rgb(0, 0, 0);
    border-left: 0.75vh solid rgb(0, 0, 0);
    border-right: 1vh solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

#rightColumn {
    height: 100vh;
    width: 15vw;
    position: relative;
    border-top: 1vw solid black;
    border-bottom: 1vw solid black;
    border-right: 1vw solid black;
    box-sizing: border-box;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    background-color: white;
    z-index: 3;
    display: flex;
}

#rightShoulderButton {
    width: 100%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.818);
    clip-path: polygon(80% 0%, 10% 0%, 30% 100%, 89% 100%);
    border-top-right-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backwardItalics {
    display: inline-block;
    transform: skewX(35deg) translateY(-10%);
    color: white;
    font-family: Arial Black;
    font-size: 2.5vh;
    &:hover {
        font-size: 2.65vh;
        color: #5eacd5;
    }
}

#outerCircleRight {
    background-color: rgba(0, 0, 0, 0.696);
    border-radius: 50%;
    position: absolute;
    height: 7vw;
    width: 7vw;
    z-index: 5;
    top: 15vh;
    right: 3.5vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

#innerCircleRight {
    background-color: rgb(53, 49, 49);
    border-radius: 50%;
    border: 0.1vw solid white;
    height: 5.5vw;
    width: 5.5vw;
    justify-content: center;
    align-items: center;
    &:hover {
        border: 0.2vw solid #5eacd5;
    }
}

#fourButtons {
    background-color: rgba(0, 0, 0, 0.696);
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 8vw;
    width: 8vw;
    z-index: 5;
    top: 36vh;
    right: 3vw;
    border-radius: 20%;
    transform: rotate(45deg);
}

.buttonText {
    display: inline-block;
    color: white;
    font-family: Arial Black;
    font-size: 2.5vh;
    transform: rotate(-45deg);
}

#square1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: rgb(53, 49, 49);
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    transform: translate(19%, 19%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid white;
    &:hover {
        border: 0.2vw solid #5eacd5;
    }
}

#square2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgb(53, 49, 49);
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    transform: translate(15%, 19%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid white;
    &:hover {
        border: 0.2vw solid #5eacd5;
    }
}

#square3 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgb(53, 49, 49);
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    transform: translate(19%, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid white;
    &:hover {
        border: 0.2vw solid #5eacd5;
    }
}

#square4 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(53, 49, 49);
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    transform: translate(15%, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid white;
    &:hover {
        border: 0.2vw solid #5eacd5;
    }
}

#gridContainerRight {
    position: absolute;
    height: 7vw;
    width: 10vw;
    z-index: 5;
    bottom: 10vh;
    right: 2.25vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    border-radius: 5%;
}

.gridItemRight {
    background-color: rgba(0, 0, 0, 0.696);
    border: 0.3vh solid rgb(53, 49, 49);
    text-align: center;
    font-size: 1.5em;
    height: 1.25vh;
    width: 2vw;
    border-radius: 30%;
}

.gridTextRight {
    display: inline-block;
    margin: 0;
    color: rgb(7, 7, 7);
    font-family: Arial Black;
    font-size: 2vh;
    transform: translateY(-0.5vh);
}

#leftShoulderHole {
    width: 100%;
    height: 7vh;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(20% 100%, 90% 100%, 70% 0%, 0% 0%);
    border-bottom-left-radius: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

#rightShoulderHole {
    width: 100%;
    height: 7vh;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(80% 100%, 10% 100%, 30% 0%, 100% 0%);
    border-bottom-right-radius: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
}

#game-container {
    background-color: rgb(5, 5, 5);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
}

#ui-menus {
    margin: 0;
    box-sizing: border-box;
}

#main-menu {
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 3;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 20vh;
    width: 20vw;
}

#game-over {
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 3;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 20vh;
    width: 20vw;
}

#hero-options {
    border: 0.5vw solid #ffffffbb;
    height: 7.5vh;
    width: 62.5vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 3;
    left: 50%;
    bottom: 3%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(32, 30, 62, 0.456);
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero-options p {
    grid-column: 1 / span 4;
    text-align: center;
    color: white;
    font-family: Arial Black;
    font-size: 1.25vw;
    margin: 0;
    padding: 1vh;
}

#hero-options button {
    width: 100%;
    height: 100%;
    background-color: #1a1c427d;
    color: rgba(255, 255, 255, 0.87);
    border: 0.1vw solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.1s;
    font-size: 1.25vw;
    text-align: center;
    font-family: Arial Black;
    padding: 1vw;
}

#hero-options button:hover {
    border: 0.1vw solid #7dc0c3;
    color: #0ec3c9;
}

#hero-options button:active {
    background-color: #0ec3c9;
}

#hero-options button:disabled {
    cursor: not-allowed;
    border: 0.1vw solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
}

#enemy-options {
    border: 0.5vw solid #1c1a1abb;
    height: 15vh;
    width: 60vw;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 3;
    left: 50%;
    bottom: 0.5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(138, 14, 14, 0.725);
    transform: translate(-50%, -50%);
    text-align: center;
}

#enemy-options p {
    grid-column: 1 / span 4;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    margin: 0;
    padding: 1vh;
}

#enemy-options button {
    width: 100%;
    height: 100%;
    background-color: #701010cf;
    color: rgba(255, 255, 255, 0.3);
    border: 0.1vw solid rgba(255, 255, 255, 0.87);
    cursor: default;
    font-size: 1.5vw;
    text-align: center;
    font-family: Arial Black;
    padding: 1vw;
}
.button {
    width: 100%;
    margin: 0;
    background-color: #28421a;
    padding: 1vw;
    color: rgba(255, 255, 255, 0.87);
    border: 0.1vw solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.1s;
    font-size: 1.5vw;
    text-align: center;
    font-family: Arial Black;

    &:hover {
        border: 3px solid #7dc0c3;
        color: #0ec3c9;
    }

    &:active {
        background-color: #0ec3c9;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
}

